*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-background: #434455;
  --color-text: #f4f4fd;
  --color-border: #2e2f4266;
  --color-text-dark: #2e2f42;
  --color-search-bckg: #f4f4fd;
  --color-accent: #80a19e;

  --font-main: "Roboto", sans-serif;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  font-family: var(--font-main);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

#header-section {
  background-color: var(--color-background);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.20),
  0 1px 3px 0 rgba(0, 0, 0, 0.12),
  0 1px 1px 0 rgba(0, 0, 0, 0.14);
}

.search-form {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.input-search {
  background-color: var(--color-search-bckg);
  display: flex;
  max-width: 350px;
  margin: 20px 0;
  padding: 20px 10px;
  width: 100%;
  height: 45px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid var(--color-border);
  outline: transparent;
  color: var(--color-text-dark);
  font-size: 20px;
}

.input-search::placeholder {
  color: var(--color-accent);
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: none;
  border: 1px solid var(--color-border);
  border-left: none;
  outline: transparent;
  cursor: pointer;
  fill: var(--color-text-dark);
  transition: fill var(--animation-duration) var(--timing-function);
}

.btn-search:hover {
  fill: var(--color-accent);
}

.gallery {
  margin: 12px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 370px));
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
}

.gallery-item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

button.gallery-item {
  box-shadow:
          0 1px 3px 0 rgba(0, 0, 0, 0.2),
          0 1px 1px 0 rgba(0, 0, 0, 0.14),
          0 2px 1px -1px rgba(0, 0, 0, 0.12),
          inset 0 0 5px 2px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: transparent;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-dark);
  cursor: pointer;
  transition: color var(--animation-duration) var(--timing-function);
}

button.gallery-item:hover {
  color: var(--color-accent);
}


.photo-card {
  display: block;
  height: 100%;
  object-fit: cover;
}

.photo-card:hover {
  cursor: zoom-in;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  color: var(--color-text-dark);
}

.info-item {
  font-weight: 400;
  text-align: center;
}